/* Resetando estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos que deverão ser usados no projeto todo, por isso no root */
:root {
  /* Cor para o produto */
  --brand-color: #EF5F4C;
  /* Cor do Shape */
  --bg-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff91;
  /*Cores dos texto  */
  --txt-primary: #313131;
  --txt-secondary: #6C6C6C;
  /* Variáveis pra fonte */
  --font-family: "Poppins", sans-serif;
  --txt: 16px/1.5 var(--font-family);
  --txt-lg: bold 32px/125% var(--font-family);
  --txt-md: 14px/170% var(--font-family);
  --txt-sm: 12px/170% var(--font-family);
}

body {
  font: var(--txt); /* para usar font é obrigatório o tamanho e a font-family */ 
  color: var(--txt-secondary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  padding-inline: 32px; 
  max-width: 1280px;
  margin-inline: auto;
}

.bg-surface-color {
  background: var(--surface-color);
}